<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Let's play Truth or Dare</h1>
        <p class="splash-subhead">
            If you choose to accept...
        </p>
        <p>
            <a href="/getstarted" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>





