<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <% if logged_in? %>
            <a class="pure-menu-heading" href="/">Hello, <%= current_user.first_name %> <%= current_user.last_name %></a>
        <% else %>
            <a class="pure-menu-heading" href="/">Basilinda</a>
        <% end %>

        <ul class="pure-menu-list">
          <% if logged_in? %>
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log Out</a></li>
          <% else %>
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log in</a></li>
            <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">Sign Up</a></li>
          <% end %>
        </ul>
    </div>
</div>